/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    padding: 10px;
    width: 970px;
    background-color: rgb(49, 61, 167);
    margin: 0px auto;
   }
   #header{
    border-radius: 10px;
   
    margin-bottom: 20px;   
    height: 75px;
    background-color: rgb(199, 21, 21);
    
   }
   #navigation{
    border-radius: 25px;
    display: inline-block;
    vertical-align: top;
    height: 220px;
    width: 200px;
    margin-right: 15px;
    background-color: rgb(33, 168, 185);
   }
   #main_content{
    border-radius: 25px;
    display: inline-block;
    padding: 15px;
    height: 420px;
    width: 700px;
    background-color: rgb(7, 25, 51);
   }
   .subcontents{
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 10px;
    height: 200px;
    width: 210px;
    background-color: yellow;
   }
   #advertisement{
  
    vertical-align: top;
    border-radius: 10px;
  
   margin: 5px;
    height: 40px;
   
    background-color: rgb(96, 99, 126);
   }
  u{
      display: inline;
       color: aqua;
       font-size: 12px;
      
   }
   p{
       display: inline;
       color:lightblue;
       font-size: 12px;
   }
   h2{
       color: lightblue;
   }
   h3{
    display: inline-block;
    color:lightblue;
    font-size: 12px;
   margin-left: 20px;
    margin-top: 15px;
   }
   h5{
     display: inline;
       font-size: 12px;
       color: cornflowerblue;
   }
   h1{
       padding: 20px;
       color: lightblue;
   }
 ul{
     margin-left: 30px;
     margin-top: -3px;
     margin-bottom: -3px;
    
     
 }
 ul > li
 {
     color: lightblue;
 }
 
 ul > li > span
 {
     color: lightblue;
 }
 a{
    display: inline-block;
    color: aqua;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 15px;
 }